BOT_ID="your discord bot application ID here"
BOT_TOKEN="your discord bot token here"
OPENROUTER_API_KEY="your openrouter api key here"
OPENROUTER_MODEL="openai/gpt-5.2"
CHANNEL_ID_TO_PING="858501437221896222"
ROLE_ID_TO_PING="1435438642817667230"
ERROR_MESSAGE="THE FOG IS COMING THE FOG IS COMING THE FOG IS COMING THE FOG IS COMING THE FOG IS COMING THE FOG IS COMING THE FOG IS COMING"
LOGGING=false
MEMORY_LENGTH=10